@media(max-width: 850px ){
    .container_content{
        gap: 4rem;
        flex-direction: column;
    }
    footer{
        display: flex;
        gap: 1.25rem;
        flex-wrap: wrap;
    }
    
}
@media(max-width: 590px ){
    .nav_links{
        display: none;
    }
    .bun{
        display: block;
    }
    .article_text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .article_text section h1{
        font-size: 2rem;
    }
    .footer_text h3{
        color: hsl(240, 100%, 5%);
        font-size: 1rem;
    }
    .footer_text p{
        font-size: .9rem;
    }
    .banner_image {
        display: none;
    }
    .banner_image2{
        display: block;
    }
}
@media(max-width: 1119px ){
    .footer_card{
        display: flex;
        gap: 1.25rem;
        max-width: 350px;
    }
    footer{
        flex-wrap: wrap;
    }
}